{% extends "base_admin.html" %}

{% block content %}

    <div class="container">
        <h1>テーブル管理ページ</h1>
        <div class="grid-container">
            <a href="{{ url_for('admin_tenken') }}" class="button admin-button">
                <i class="fas fa-database"></i>点検テーブル
            </a>
            <a href="{{ url_for('admin_tenkencomp') }}" class="button admin-button">
                <i class="fas fa-cogs"></i>コンプレッサー<br>点検テーブル
            </a>
            <a href="{{ url_for('admin_koutei') }}" class="button admin-button">
                <i class="fas fa-cogs"></i>工程テーブル
            </a>
            <a href="" class="button admin-button">
                <i class="fas fa-cogs"></i>設備テーブル<br>(メンテ中）
            </a>
            <a href="{{ url_for('admin_person') }}" class="button admin-button">
                <i class="fas fa-cogs"></i>社員テーブル
            </a>
            <a href="{{ url_for('admin_list_index') }}" class="button admin-button">
                <i class="fas fa-cogs"></i>点検リストテーブル
            </a>
        </div>
    </div>
{% endblock %}
