
{% extends "base.html" %}

{% block title %}日常設備点検項目{% endblock %}

{% block content %}
    <div class="container">
        <h1>日常設備点検履歴</h1>
        <h2>工程名: {{ koutei.koutei }} / 設備名:{{ setubi.setubi }} </h2>
        
        {% if tenken_data %} 
            <table>
                <thead>
                    <tr>
                        <th>点検ID</th>
                        <th>点検実施日</th>
                        <th>点検者</th>
                        <th>アワーメーター</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ tenken_data.id }}</td>
                        <td>{{ tenken_data.tenken_date }}</td>
                        <td>{{ tenken_data.tenken_person }}</td>
                        <td>{{ tenken_data.hour_meter }}</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th>修繕箇所及び不具合状況</th>
                        <th class="nowrap">修繕依頼日</th>
                        <th class="nowrap">修繕年月日</th>
                        <th class="nowrap">修繕実施内容</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ tenken_data.syuzenkasyo }}</td>
                        <td class="nowrap">{{ tenken_data.syuzen_irai_date }}</td>
                        <td class="nowrap">{{ tenken_data.syuzen_date }}</td>
                        <td>{{ tenken_data.syuzen_naiyo }}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>点検履歴が登録されていません。</p>
        {% endif %}

        {% if tenken_result %}
            <table>
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>点検項目</th>
                        <th>管理値・確認内容</th>
                        <th class="nowrap">検査方法</th>
                        <th class="nowrap">チェック</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in tenken_result %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td class="nowrap">{{ item.list }}</td>
                        <td>{{ item.contents|replace('/', '<wbr>')|safe }}</td>
                        <td class="nowrap">{{ item.kensa_method }}</td>
                        <td>{{ item.result }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>点検履歴が登録されていません。</p>
        {% endif %}

        
        <div class="container">
            <a href="javascript:history.back()" class="back-button">戻る</a>
        </div>
    </div>
{% endblock %}
