{% extends "base.html" %}

{% block title %}日常設備点検項目{% endblock %}

{% block content %}
    <div class="container">
        <h1>日常設備点検履歴</h1>
        <h2>工程名: {{ koutei.koutei }} </h2>
        <h3>設備名：{{ setubi.setubi }} 点検履歴　最新5件</h3>
        {% for setubi_obj, results in rireki_results.items() %}
            <h3>{{ setubi_obj.setubi }}</h3> <!-- 設備名を表示 -->
            {% if results %}
                <table>
                    <thead>
                        <tr>
                            <th>点検実施日</th>
                            <th>作業者</th>
                            <th>備考</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in results %}
                            <tr>
                                <td class="nowrap">{{ item[1] }}</td>  <!-- 点検実施日 -->
                                <td class="nowrap">{{ item[0] }}</td>  <!-- 作業者 -->
                                <td>{{ item[2] }}</td>  <!-- 備考 -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ url_for('rireki_list_page', koutei_id=koutei.id, setubi_id=setubi_obj.id) }}" class="button detail-button">{{ setubi_obj.setubi }} 詳細ページ</a>
            {% else %}
                <p>点検リストが登録されていません。</p>
            {% endif %}
            

        {% endfor %}
        <div class="button-container">
            <a href="javascript:history.back()" class="back-button">戻る</a>
        </div>
    </div>
{% endblock %}